AETHERIUM_APP_ENV=
AETHERIUM_API_HOST=
AETHERIUM_API_PORT=
AETHERIUM_WEB_HOST=
AETHERIUM_WEB_PORT=
AETHERIUM_DATABASE_URL=
AETHERIUM_POSTGRES_DB=
AETHERIUM_POSTGRES_USER=
AETHERIUM_POSTGRES_PASSWORD=
AETHERIUM_POSTGRES_PORT=
AETHERIUM_REDIS_URL=
AETHERIUM_REDIS_KEY_PREFIX=
AETHERIUM_REDIS_PORT=
AETHERIUM_OBJECT_STORAGE_ENDPOINT=
AETHERIUM_OBJECT_STORAGE_BUCKET=
AETHERIUM_OBJECT_STORAGE_DERIVED_ASSETS_BUCKET=
AETHERIUM_OBJECT_STORAGE_USER_AVATARS_BUCKET=
AETHERIUM_MINIO_ROOT_USER=
AETHERIUM_MINIO_ROOT_PASSWORD=
AETHERIUM_MINIO_API_PORT=
AETHERIUM_MINIO_CONSOLE_PORT=
AETHERIUM_MINIO_CORS_ORIGINS=
AETHERIUM_S3_ACCESS_KEY_ID=
AETHERIUM_S3_SECRET_ACCESS_KEY=
AETHERIUM_S3_REGION=
AETHERIUM_SESSION_COOKIE_NAME=
AETHERIUM_SESSION_SIGNING_SECRET=
AETHERIUM_SESSION_DURATION_SECONDS=
AETHERIUM_SESSION_COOKIE_DOMAIN=
AETHERIUM_SESSION_COOKIE_PATH=
AETHERIUM_SESSION_COOKIE_SAMESITE=
AETHERIUM_SESSION_COOKIE_SECURE=
AETHERIUM_SIGNING_SECRET=
AETHERIUM_ENCRYPTION_SECRET=
AETHERIUM_PASSWORD_MIN_LENGTH=
AETHERIUM_ARGON2_TIME_COST=
AETHERIUM_ARGON2_MEMORY_COST=
AETHERIUM_ARGON2_PARALLELISM=
AETHERIUM_AUTH_LOGIN_RATE_LIMIT_ATTEMPTS=
AETHERIUM_AUTH_LOGIN_RATE_LIMIT_WINDOW_SECONDS=
AETHERIUM_AUTH_REGISTER_RATE_LIMIT_ATTEMPTS=
AETHERIUM_AUTH_REGISTER_RATE_LIMIT_WINDOW_SECONDS=
AETHERIUM_FILE_VAULT_MAX_UPLOAD_BYTES=
AETHERIUM_FILE_VAULT_UPLOAD_URL_EXPIRES_SECONDS=
AETHERIUM_FILE_VAULT_DOWNLOAD_URL_EXPIRES_SECONDS=
AETHERIUM_FILE_VAULT_VERIFY_UPLOADS=
AETHERIUM_FILE_INGESTION_MAX_ATTEMPTS=
AETHERIUM_FILE_INGESTION_CHUNK_SIZE_CHARS=
AETHERIUM_FILE_INGESTION_CHUNK_OVERLAP_CHARS=
AETHERIUM_FILE_INGESTION_EMBEDDINGS_ENABLED=
AETHERIUM_FILE_INGESTION_QUEUE_NAME=
AETHERIUM_WORKER_POLL_SECONDS=
AETHERIUM_AI_PROVIDER_DEFAULT=
AETHERIUM_AI_OPENAI_API_KEY=
AETHERIUM_AI_ANTHROPIC_API_KEY=
AETHERIUM_AI_OLLAMA_BASE_URL=
AETHERIUM_LOG_NAMESPACE=
AETHERIUM_BACKUP_BUCKET=
AETHERIUM_CORS_ORIGINS=
NEXT_PUBLIC_AETHERIUM_API_BASE_URL=
